$color-purple: #4b57a3;
$color-dark-purple: #3b406b;
$color-aqua-blue: #29bdec;
$color-blue-grey: #a0a7c4;
$color-light-blue-grey: #cad5e7;
$color-dark-blue-grey: #363d69;
$color-dusk: #3a406b;

$color-dark: #1f233d;
$color-dark-two: #212642;
$color-dark-three: #262b4a;

$active-color: $color-purple;
