@import './colors';

.my-songs-overlay {
  font-weight: 500; // Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .header {
    padding: 12px 19px 0 25px;
  }

  .scroll {
    padding: 0 19px 18px 25px;
  }

  .title {
    a {
      color: white;
      text-decoration: none;
    }
    font-size: 17px;
    padding-right: 27px; // Make room for "more-button"
  }
  .updated-at {
    font-size: 12px;
    opacity: 0.5;
  }
  .permissions {
    font-size: 9px;
    text-transform: uppercase;
  }

  .content {
    background-color: $color-purple;
  }

  h1 {
    border-bottom: solid 1px $color-light-purple;
    line-height: 40px;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
    padding-bottom: 11px;
  }
  ul.song-list {
    text-align: left;
    padding: 0;
    margin: 0;
    list-style-type: none;

    > li {
      position: relative;
      padding: 18px 0;
      line-height: 21px;
      &:first-child {
        padding-top: 0;

        .more-button {
          top: 0;
        }
      }
      &:last-child {
        border-bottom: none;
      }

      span {
        font-size: 10px;
        color: $color-light-purple;
      }
    }
  }

  .more-button {
    position: absolute;
    right: 0;
    top: 18px;
  }
}
