@import './colors.scss';

$shadow-index: 1;

.overlay {
  z-index: 999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-dark-three;
    opacity: 0.85;
    z-index: $shadow-index;
  }

  h1 {
    font-size: 24px;
    font-weight: 500; // Medium
  }
  h2 {
    font-size: 13px;
    font-weight: 500; // Medium
  }

  .content {
    text-align: center;
    position: relative;
    z-index: $shadow-index + 1;
    font-size: 14px;
    padding: 30px;
    width: 380px;
    opacity: 1;
    background-color: white;
    border-radius: 6px;
    padding: 25px;

    .scroll {
      overflow-y: auto;
      height: 100%;
      width: 100%;
    }
  }

  .close-link {
    display: block;
    text-align: center;
    color: #999;
    position: absolute;
    right: 17px;
    top: 17px
  }
}
