@import './colors';
@import './fonts';

.page {
  $sidebar-z-index: 1;
  $slide-in-duration: 150ms;
  $header-height: 63px;

  display: flex;
  flex-direction: row;

  color: white;

  .song-editor-header {
    display: flex;

    .first, .last {
      flex: 0;
    }
    .middle {
      flex: 1;
      text-align: center;
      line-height: $header-height;

      a {
        text-decoration: none;
        color: white;
      }

      input {
        font-family: $font-family;
        margin-top: 17px;
        width: 216px;
      }
    }

    .song-title {
      margin-right: 10px;
    }

  }

  .page-header {
    padding: 0 24px;

    flex: 0 0 $header-height;

    background-color: $color-purple;
    display: flex;

    .song-title {
      font-weight: 500; // Medium
      font-size: 17px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .play-button {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-top: $header-height/2 - 16px;
    }

    .song-info {
      flex-grow: 1;
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      font-weight: 500; // medium
      color: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      .by {
        opacity: 0.5;
      }
      .top {
        font-size: 17px;
      }
      .bottom {
        font-size: 10px;
      }
    }

    .action {
      margin: 0 7px;
      margin-top: $header-height / 2 - 14px;
      border: solid 1px white;
      white-space: nowrap;
    }
  }

  a.action, select.action, span.action {
    font-size: 11px;
    font-weight: 600; // semi-bold
    padding: 0 15px;
    text-decoration: none;
    font-family: $font-family;

    display: inline-block;
    height: 28px;
    line-height: 28px;
    opacity: 0.7;
    border-radius: 49px;
    color: white;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.2px;

    &:hover.enabled {
      opacity: 1;
    }

    &.primary {
      background-color: white;
      color: $color-purple;
    }
  }

  .page-content {
    //  The original texture image dump from Zeplin was 1351x696. This was
    //  excessive for a repeated background, so I cropped it down using the
    //  command line:
    //  convert -crop 73x33+6+6 texture-orig.png texture.png
    //
    //  The higher-res images used a similar commandline, but scaled up.
    background-image: url("/texture.png");
    background-size: 73px 33px;
    background-repeat: repeat;

    overflow-y: scroll;
    flex: 1;

    @media
      only screen and (-webkit-min-device-pixel-ratio: 2), 
      only screen and (min-resolution: 2dppx) {
      // convert -crop 146x66+12+12 texture-orig@2x.png texture@2x.png
      background-image: url("/texture@2x.png");
    }

    @media 
      only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min-resolution: 3dppx) {
      // convert -crop 219x99+18+18 texture-orig@3x.png texture@3x.png
      background-image: url("/texture@3x.png");
    }
  }

  .page-text-footer {
    $height: 43px;
    flex: 0 0 $height;

    font-size: 14px;
    font-weight: 500; // medium
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

    &.error {
      background-color: $color-red;
      .action { margin-left: 15px; }
    }

    line-height: $height;
    height: $height;
    position: relative;
    .page-footer-content {
      height: $height;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  }

  .page-footer {
    background-color: $color-dark-purple;

    transition: flex-basis $slide-in-duration;
    overflow: hidden;
    &.hidden {
      flex-basis: 0px;
    }
  }

  .page-vertical-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    // This is to block the boxshadow coming from the sidebar;
    position: relative;
    z-index: $sidebar-z-index + 1;
  }

  .page-sidebar {
    flex-shrink: 0;

    background: white;
    text-align: center;
    font-size: 11px;
    box-shadow: 2px 0px 10px #eee;

    $width: 103px;
    width: $width;
    position: relative;
    z-index: $sidebar-z-index;
    .page-sidebar-content {
      width: $width;
      right: 0;
      position: absolute;
    }
    transition: width $slide-in-duration;;
    overflow: hidden;
    &.hidden {
      width: 0px;
    }

    .logo {
      background-color: $color-aqua-blue;
      color: white;
      height: 63px;
      line-height: 63px;
    }
  }

  .locale-selector {
    left: 31px;
    bottom: 10px;
    position: fixed;
    color: #a0a7c4;
  }

  .nav-link {
    position: relative;
    display: block;
    font-size: 11px;
    letter-spacing: 0.3px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-blue-grey;
    svg {
      fill: $color-blue-grey;
    }

    &:hover {
      color: $active-color;
      svg {
        fill: $active-color;
      }
    }

    span {
      margin-top: 10px;
      display: block; 
    }

    // TODO: All these fixed margins are kind of a hack to match the mockups.
    // It would be better to assign a fixed height to all the nav-links, and
    // figure out a consistent margin between each one
    &:first-child {
      margin-top: 51px;
    }
    &:nth-child(2) {
      margin-top: 74px;
    }
    &:nth-child(3) {
      margin-top: 78px;
    }
    &:nth-child(4) {
      margin-top: 79px;
    }
  }
}

.error-page {
  color: $color-dark;
  text-align: center;

  .error-code {
    width: 260px;
    margin: 0 auto;
    margin-top: 25px;
    overflow: hidden;

    span {
      font-size: 125px;
    }
    span, svg {
      float: left;
    }
    svg {
      fill: $color-dark;
    }
  }

  .error-message {
    font-size: 24px;
  }
}