@import './colors.scss';

.piano-roll {
  display: flex;
  background-color: $color-dusk;

  .horizontal-scroller {
    flex-grow: 1;
    overflow-x: auto;
    position: relative;
  }

  $timeline-height: 25px;

  .timeline {
    position: relative;
    cursor: pointer;
    width: 100%;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .timeline, .song-duration {
    height: $timeline-height;
    line-height: $timeline-height;
    background-color: $color-dark;
    color: $color-blue-grey;
    letter-spacing: 0.2px;
    font-weight: 600; // semi-bold
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .timeline, .row {
    white-space: nowrap;
  }

  $beat-width: 120px;

  .time-marker {
    display: inline-block;
    width: $beat-width;
    line-height: $timeline-height;
    padding-left: 8px;
    box-sizing: border-box;
  }

  .row-labels {
    box-sizing: border-box;
    flex: 0 0 81px;
    font-size: 9px;
    line-height: 2.03;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    flex-shrink: 0;
  }

  .cell:first-child {
    border-left: 2px solid $color-dark-two;
  }

  .row:first-child .cell {
    border-top: 1px solid $color-dark-two;
  }

  @mixin define-cell-width($n) {
    .cell-width-#{$n} {
      .cell {
        width: $beat-width / $n;
      }
      .cell:nth-child(#{$n}n+0) {
        border-right: 2px solid $color-dark-two;
      }
    }
  }

  @include define-cell-width(1);
  @include define-cell-width(2);
  @include define-cell-width(4);
  @include define-cell-width(8);
  @include define-cell-width(16);

  .cell, .note-label {
    height: 15px;
    border-bottom: solid 1px $color-dusk-four;
    box-sizing: border-box;
  }

  .note-label.playing {
    color: $active-color;
    font-weight: bold;
  }

  .cell {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid $color-dark-two;
    border-left: none;
    border-top: none;
  }

  .note {
    position: absolute;
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    background-color: $color-aqua-blue;
  }

  .note-wrapper {
    position: relative;
    background-color: $color-dark-three;
  }

  .playhead {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #88c7f4;
    opacity: 0.5;
  }
}
