@import './colors.scss';

$shadow-index: 1;

.side-overlay {
  z-index: 999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100px;

  .close-link {
    display: block;
    position: absolute;
    right: 19px;
    top: 20px;
  }

  h1 {
    font-size: 24px;
    font-weight: 500; // Medium
  }
  h2 {
    font-size: 13px;
    font-weight: 500; // Medium
  }

  .shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
    background-color: $color-dark-three;
    opacity: 0.85;
    z-index: $shadow-index;
  }
  .content {
    text-align: center;
    position: relative;
    color: $color-whitish;
    height: 100%;
    width: 300px;

    z-index: $shadow-index + 1;
    font-size: 14px;
    opacity: 1;

    .scroll {
      overflow-y: auto;
      left: 0;
      right: 0;
      top: 85px;
      bottom: 0;
      position: absolute;
    }
  }
}

@media only screen and (max-device-width : 667px) {
  .side-overlay {
    left: 0;
    .content {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}