@import 'normalize.css';

@mixin define-font($family, $filename, $weight, $style) {
  @font-face {
    font-family: $family;
    src: url("/fonts/#{$filename}.ttf") format('truetype'),
         url("/fonts/#{$filename}.eot") format('eot'),
         url("/fonts/#{$filename}.woff") format('woff'),
         url("/fonts/#{$filename}.woff2") format('woff2'),
          url("/fonts/#{$filename}.svg#{$filename}") format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@include define-font(HKGrotesk, 'HKGrotesk-Light', 300, normal);
@include define-font(HKGrotesk, 'HKGrotesk-LightItalic', 300, italic);

@include define-font(HKGrotesk, 'HKGrotesk-Regular', 400, normal);
@include define-font(HKGrotesk, 'HKGrotesk-Italic', 400, italic);

@include define-font(HKGrotesk, 'HKGrotesk-Medium', 500, normal);
@include define-font(HKGrotesk, 'HKGrotesk-MediumItalic', 500, italic);

@include define-font(HKGrotesk, 'HKGrotesk-SemiBold', 600, normal);
@include define-font(HKGrotesk, 'HKGrotesk-SemiBoldItalic', 600, italic);

@include define-font(HKGrotesk, 'HKGrotesk-Bold', 700, normal);
@include define-font(HKGrotesk, 'HKGrotesk-BoldItalic', 700, italic);


body {
  font-family: HKGrotesk, sans-serif;
}


$active-color: #18BC9C;
$red-color: #bc1838;

@mixin buttonize($background-color) {
  display: inline-block;
  border-radius: 7px;
  color: white;
  background-color: $background-color;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;

  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  box-sizing: border-box;

  &:active {
    background-color: darken($background-color, 5%);
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    background-color: #bebebe;
  }
}


h3, .share-buttons, .button-wrapper {
  text-align: center;
}
h3 {
  margin-top: 18.720px * 2;
  margin-bottom: 18.720px;
  color: #333;
  font-weight: normal;
}

.share-buttons {
  overflow: hidden;

  input, a {
    margin: 0;
  }

  input {
    height: 40px;
    float: left;
  }

  a {
    @include buttonize(white);
    border: 1px solid #eee;
    border-radius: none;
    margin-left: 5px;
    float: left;
  }
}

.create-button {
  @include buttonize($active-color);
}

.login-overlay {
  .content {
    height: 250px;
  }

  .login-button {
    display: block;
    margin-bottom: 10px;
  }
}
