@import './normalize';
@import './fonts';
@import './colors';

@include define-font(HKGrotesk, 'HKGrotesk-Light', 300, normal);
@include define-font(HKGrotesk, 'HKGrotesk-LightItalic', 300, italic);

@include define-font(HKGrotesk, 'HKGrotesk-Regular', 400, normal);
@include define-font(HKGrotesk, 'HKGrotesk-Italic', 400, italic);

@include define-font(HKGrotesk, 'HKGrotesk-Medium', 500, normal);
@include define-font(HKGrotesk, 'HKGrotesk-MediumItalic', 500, italic);

@include define-font(HKGrotesk, 'HKGrotesk-SemiBold', 600, normal);
@include define-font(HKGrotesk, 'HKGrotesk-SemiBoldItalic', 600, italic);

@include define-font(HKGrotesk, 'HKGrotesk-Bold', 700, normal);
@include define-font(HKGrotesk, 'HKGrotesk-BoldItalic', 700, italic);


body {
  font-family: $font-family;
}

h3, .button-wrapper {
  text-align: center;
}
h3 {
  margin-top: 18.720px * 2;
  margin-bottom: 18.720px;
  color: #333;
  font-weight: normal;
}

.login-overlay {
  .content {
    height: 300px;
  }

  .login-button {
    display: block;
    margin-bottom: 10px;
  }
}
