@import './colors';

.tracks-overlay {
  font-weight: 500; // Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .content {
    padding: 12px 19px 18px 25px;
  }

  .title {
    font-size: 17px;
  }
  .updated-at {
    font-size: 12px;
    opacity: 0.5;
  }
  .permissions {
    font-size: 9px;
    text-transform: uppercase;
  }

  h1 {
    border-bottom: solid 1px $color-light-purple;
    line-height: 40px;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
    padding-bottom: 11px;
  }
  ul.song-list {
    text-align: left;
    padding: 0;
    list-style-type: none;

    > li {
      padding: 18px 0;
      line-height: 21px;

      &:last-child {
        border-bottom: none;
      }

      a {
        font-size: 11px;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: $color-purple;
        float: right;
      }
      span {
        font-size: 10px;
        color: $color-light-purple;
      }
    }
  }

  .popup-menu {
    position: absolute;
    font-size: 13px;
    padding: 15px;
    background-color: white;
    letter-spacing: 0.2px;
    color: $color-greyish-brown;
    width: 174px;
    box-shadow: 0 2px 7px 0 $color-pale-grey;
    border-radius: 2px;

    ul, li {
      padding: 0;
      list-style-type: none;
    }

    li {
      margin-top: 5px;
    }
    li:first-child {
      margin-top: 0;
    }
  }
}
