@import 'colors.scss';

.video-cell {
  background-color: $color-blue-grey;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 3px 10px 0 $color-cloudy-blue-two;
  box-sizing: border-box;

  // TODO: This z-index seems necessary to get the overflow:hidden to crop
  // the shade element. I'm not sure why this is necessary, because the
  // shade doesn't have a z-index
  z-index: 1;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    display: block;
    fill: #fff;
  }

  .record-status {
    position: absolute;
    left: 5px;
    top: 12.5px;
    font-size: 14px;

    svg {
      margin-right: 5px;
    }

    circle {
      fill: $color-red;
    }
  }

  .shade {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: $color-light-blue-grey;
    transition: opacity .1s ease-in-out;
  }
  &.playing .shade {
    opacity: 0;
  }

  .clear-button {
    position: absolute;
    bottom: 8px;
    right: 12.5px;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  .note-label {
    position: absolute;
    bottom: 5px;
    left: 12.5px;
    width: 9.7px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    sub {
      margin-left: 2px;
    }
  }
  .countdown-label, .stop-action {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333;
  }
  .countdown-label {
    top: 25px;
    font-weight: bold;
    .text {
      font-size: 17px;
    }
    .number {
      font-size: 23px;
    }
  }
  .stop-action {
    padding-top: 50px;
    font-size: 17px;
    font-weight: bold;
  }
  .empty-video {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;

    svg {
      fill: $color-cloudy-blue;
      margin-top: 41px;
    }

    .tip {
      font-size: 12px;
      font-weight: 500; // Medium
      color: $color-periwinkle;
      display: none;
    }

    &.enabled:hover {
      background-color: $color-purple;
      padding: 20px;
      box-sizing: border-box;
      letter-spacing: 0.2px;

      .tip {
        display: block;
        line-height: normal;
      }
      svg {
        margin-top: 7px;
        margin-bottom: 7px;
        fill: $color-periwinkle;
        width: 23px;
        height: 44px;
      }
    }
  }

  video {
    height: 100%;
    // TODO: This magic number might need to change if we change the video sizes
    margin-left: -19%;
  }
}
