$cell-size: 150px;
$cell-margin: 5px;

$cells-per-row: 4;
$cell-margin-percentage: 1;
$cell-size-percentage: (100 - ($cells-per-row - 1) * $cell-margin-percentage) / $cells-per-row;

.video-cell {
  width: #{$cell-size-percentage}vw;
  height: #{$cell-size-percentage}vw;

  margin-bottom: #{$cell-margin-percentage}vw;
  margin-right: #{$cell-margin-percentage}vw;
}
.video-container {
  width: 100vw;
  padding-top: 100px;
  margin: 0 auto;
  overflow: hidden;
}

$desktop-width: 592px;
@media only screen and (min-width: $desktop-width) {
  .video-container {
    width: $desktop-width;
  }
  .video-cell {
    width: $desktop-width * ($cell-size-percentage/100);
    height: $desktop-width * ($cell-size-percentage/100);
    margin-bottom: $desktop-width * ($cell-margin-percentage/100);
    margin-right: $desktop-width * ($cell-margin-percentage/100);
  }
}

.video-cell:nth-child(#{$cells-per-row}n+0) {
  margin-right: 0;
}
