service firebase.storage {
  match /b/vlogotron-95daf.appspot.com/o {
    match /video-clips/{allPaths=**} {
      allow read
      allow write: if false
    }
  }
  match /b/vlogotron-uploads/o {
    match /video-clips/{videoClipId} {
      allow write: if !resource.exists()
    }
  }
}
